body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #636363;
    margin-left: 25px;
    margin-top: 150px;
    padding: 0;
    color: #333;
}

/*header {
    background-color: #4a4a4a;
    color: #28a2df;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}*/

.container {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 0 0 auto;  
    padding: 10px;
    margin-left: 20px;
    margin-right: 5px;
    background-color: #1f1f1f;
    color: #a80000;
    border-radius: 20px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
}

.card img {
    position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

.card a {
    position: relative;
    color: #ff0000;
    text-decoration: none;
}

.card a:hover{
    color: rgb(255, 208, 0);
}


/*footer {
    background-color: #7683a5;
    color: #28a2df;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}



